<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.joylee.csdnhome"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
            android:minSdkVersion="8"
            android:targetSdkVersion="8"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 网络访问 -->
    <application
            android:allowBackup="false"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppBaseTheme"
            >
        <activity android:name="com.joylee.csdnhome.MainActivity" > <!-- 设定第一个activity -->
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>
    <activity
            android:name="com.joylee.csdnhome.NewsdetailActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity
                android:name="com.joylee.csdnhome.CsdnMainActivity"
                android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity
                android:name="com.joylee.csdnhome.KrMainActivity"
                android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
</application>

        </manifest>
